@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 2em;
    padding: 1em;
    font-family: "Inter", sans-serif;
}

h2 {
    font-style: italic;
}

a {
    color: inherit;
}

a:hover {
    color: #dc2626;
}